/* Reset default margin and padding for the body */
body {
    margin: 0;
    padding: 0;
}

/* Create a container to hold the image and scoreboard */
.container {
    position: relative;
    max-width: 100%;
}

/* Style the image to fit within the container */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Style the scoreboard overlay */
.scoreboard1 {
    position: absolute;
    top: 200px; /* Adjust the top position as needed */
    left: 220px; /* Adjust the right position as needed */
    background-color: rgba(255, 32, 32, 0.7); /* Semi-transparent background */
    padding: 20px;
    border-radius: 5px;
    color: white;
    align-items: center;
}

/* Style the scoreboard text */
.scoreboard1 h2 {
    margin: 0;
    font-size: 30px;
}

/* Style the score */
.scoreboard1 #score {
    font-weight: bold;
    font-size: 36px;
}

/* Style the player name */
.scoreboard1 p {
    margin: 0;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.scoreboard2 {
    position: absolute;
    top: 200px; /* Adjust the top position as needed */
    left: 620px; /* Adjust the right position as needed */
    background-color: gold; /* Semi-transparent background */
    padding: 20px;
    border-radius: 5px;
    color: black;
    align-items: center;
}

/* Style the scoreboard text */
.scoreboard2 h2 {
    margin: 0;
    align-items: center;
    font-size: 30px;
}

/* Style the score */
.scoreboard2 #score {
    font-weight: bold;
    font-size: 36px;
}

/* Style the player name */
.scoreboard2 p {
    margin: 0;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.CenterLogo {
    position:absolute;
    max-width: 50%;
    height: auto;
    top:200px;
    left: 400px;
}
/* Style the watermark */
.watermark {
    position: absolute;
    top: 20px; /* Adjust the top position as needed */
    right: 20px; /* Adjust the right position as needed */
    opacity: 0.9; /* Adjust the opacity as needed */
}

/* Style the watermark image */
.watermark img {
    max-width: 300px; /* Adjust the size of the watermark */
    height: auto;
}
