body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #2e2f34;
    color: black;
  }

  #phone-input-container {
    text-align: center;
    background-color: rgb(174, 249, 249);
    padding: 20px;
  }
  #instructions{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .digit-slider {
    margin-top: 30px ;
    width: 20px;
    margin: 0 5px;
  }

  #phone-display {
    margin-top: 10px;
    font-size: 18px;
  }

  #submit-button,
  #clear-button {
    margin-top: 30px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }

  #hint {
    position: absolute;
    bottom: 100px;
    align-items: center;
    text-align: center;
    font-size: 22px;
    color: #ffffff;
  }