body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
}
#box1:hover{
    background-color: purple;
}


#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
    animation: move 20s linear infinite;
}

@keyframes move{

    0%{
        transform: translate(0);
    }
    50%{
        transform: translate(1200px);
    }
}